.header {
  &__form {
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-border);
    width: 50%;
    background-color: var(--color-white-light);
  }

  &__form i {
    margin: 0.7rem;
    font-size: 1.6rem;
  }

  &__form div input {
    border: 0;
    padding: 0.3rem 0;
    outline: 0;
    font-size: 1.6rem;
    flex-grow: 1;
    margin: 0;
    box-shadow: 0 0 0 0 #000;
  }
}
