html {
  font-size: 10px;
  box-sizing: border-box;
}

:root {
  --color-white-light: #fff;
  --color-white-dull: rgba(204, 204, 204, 0.253);

  --color-text: rgb(138, 138, 138);

  --box-shadow-border: 0 0px 2px 1px #00000052;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem;
  background: var(--color-white-dull);
}
